body{
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.navbar-con{
    height: 100%;
    /* border: 1px black solid; */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.hoverbar{
    /* border: 1px black solid; */
    overflow: hidden;
    height: fit-content;
    width: fit-content; 
    display: flex;
}


.login-button a{
    font-family: 'Cabin', sans-serif;
    float: right;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.login-button a:hover{
    background-color: #270101;
    color: white;
    font-size: 19px;
}

.login-button{
    /* border: 1px black solid; */
    margin-top: 57px;
    width: fit-content;
    float: right;
    margin-left: 45x;
}

.btn{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    background-color: white;
    border: hidden;
    transition: 0.3s;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

.btn:hover{
    background-color: #270101;
    color: white;
    font-size: 20px;
}

.masters{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 20px;
    border-radius: 5px;
}

.masters a{
    margin-top: 5px;
    font-family: 'Cabin', sans-serif;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    transition: 00.3s;
}

.master-con:hover .masters{
    display: grid;
}

.masters a:hover{
    background-color: black;
    color: white;
    font-size: 18px;
}

.master-con:hover #mas{
    background-color: #270101;
    color: white;
    font-size: 20px;
}

.transaction{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 20px;
    border-radius: 5px;
}

.transaction a{
    margin-top: 5px;
    font-family: 'Cabin', sans-serif;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    transition: 00.3s;
}

.transaction-con:hover .transaction{
    display: grid;
}

.transaction a:hover{
    background-color: black;
    color: white;
    font-size: 18px;
}

.transaction-con:hover #trans{
    background-color: #270101;
    color: white;
    font-size: 20px;
}

.logo-con{
    /* border: black 1px solid; */
    height: fit-content;
    width: fit-content;
    margin-left: 15px;
}

.logo-con img{
    max-width: 1000px;
    height: auto;
}

.main{
    font-family: 'Cabin', sans-serif;
    height: fit-content;
    align-items: center;
    border: 1px black solid;
    display: grid;
}

.show{
    border: 3px #EE00FF;
    border-style: groove;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin-left: 15px;
    transition: 0.5s;
    margin-top: 5px;
}

.show:hover{
    background-color: #f675ff;
    font-size: 22px;
}

.form{
    border: 1px black solid;
    display: none;
    margin-left: 35px;
    margin-right: 35px;
    width: auto;
        font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.comp-con{
    /* border: 1px solid black; */
    margin: 2px;
    padding: 15px;
}

.comp-con input{
    height: 20px;
    width: 190px;
    padding: 3px;
    transition: 00.3s;
    border-radius: 5px;
}

.comp-con input:focus{
    height: 25px;
    width: 195px;
}


.sub{
    /* border: 1px solid black; */
    margin: 2px;
    padding: 15px;
}

.submit-btn{
    margin: 2px;
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 3px;
    width: 215px;
    transition: 0.3s;
    height: 30px;
}

.submit-btn:hover{
    width: 225px;
    height: 35px;
}

.year-con{
    margin: 2px;
    padding: 15px;
}

.year-con input{
    height: 20px;
    width: 190px;
    padding: 3px;
    transition: 00.3s;
    border-radius: 5px;
    margin-left: 45px;
}

.year-con input:focus{
    height: 25px;
    width: 195px;
}