body{
    background-image: url(/images/login\ page.jpg);
    background: fixed cover no-repeat center;
}

.container{
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    width: 450px;
    height: 450px;
    margin-top: 250px;
    margin-right: 45px;
    float: right;
}

.logo{
    font-family: 'Overpass', sans-serif;
    font-family: 'PT sans', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: fit-content;
    margin-left: 190px;
    border-radius: 8px;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
}

.company-con{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 55px;
    width: fit-content;
    padding: 15px;
    border: 1px black solid;
    transition: 00.3s;
}

.company-con:hover{
    background-color: #270101;
    color: white;
}

.company-drop{
    font-family: 'Cabin', sans-serif;
    width: 187px;
    padding: 5px;
    border: 1px grey solid; 
    transition: 0.3s;
}


input:focus::placeholder {
  color: transparent;
}

.user-con{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    border: 1px black solid;
    width: fit-content;
    padding: 15px;
    margin-left: 80px;
    margin-top: 15px;
    transition: 0.3s;
}

.user-con:hover{
    background-color: #270101;
    color: white;
}

.user-con input{
    height: 20px;
    width: 178px;
    margin-left: 45px; 
    padding: 3px;
    transition: 0.3s;
}

.user-con input:focus{
    height: 25px;
    width: 180px;
}

.password-con{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    border: 1px black solid;
    width: fit-content;
    padding: 15px;
    margin-left: 80px;
    margin-top: 15px;
    transition: 0.3s;
}

.password-con:hover{
    background-color: #270101;
    color: white;
}

.password-con input{
    height: 20px;
    padding: 3px;
    width: 184px;
    transition: 0.3s;
}

.password-con input:focus{
    width: 186px;
    height: 25px;
}

.login-button{
    /* border: 1px black solid; */
    width: fit-content;
    padding: 15px;
    margin-top: 25px;
    margin-left: 140px;
}

.login-button input{
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 3px;
    width: 150px;
    transition: 0.3s;
}

.login-button input:hover{
    background-color: #270101;
    color: white;
}